<ion-header>
  <ion-toolbar>
    <ion-title>Code barre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-barcode-list></app-barcode-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="handleScan()" [disabled]="!this.cameraService.isScanSupported.value">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
    <br/>
    <ion-fab-button routerLink="add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
